# ------------------------------------------------------------
#              Common environment variables
# ------------------------------------------------------------

# Backend and Prefect Worker uses same codebase, so 
# they need to share the same environment variables
x-common-envs: &common-envs
  environment:
    ### Prefect Worker Specific ###
    - PREFECT_API_URL=http://blnstats-prefect-server:4200/api
    - TZ=${TZ}
    ###############################

    ##### Backend And Prefect #####
    - TMPDIR=/.config/matplotlib
    - MPLCONFIGDIR=/.config/matplotlib

    - BLNSTATS_ELECTRUM_HOST=electrum.blockstream.info
    - BLNSTATS_ELECTRUM_PORT=50001
    ###############################

    # - APP_DEBUG=true                               # Dev

# ------------------------------------------------------------
# ------------------------------------------------------------
# ------------------------------------------------------------









services:

  # ------------------------------------------------------------
  #              Incoming/outgoing traffic endpoints
  # ------------------------------------------------------------
  blnstats-endpoint:
    container_name: blnstats-endpoint
    image: caddy:2-alpine
    user: 1000:1000
    read_only: true
    volumes:
      - ./endpoint/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./_DATA/_PUBLIC_FILES:/srv:ro
    ports:
      - "80:80"
    restart: unless-stopped
  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------






  # ------------------------------------------------------------
  #                    BLN Stats system services
  # ------------------------------------------------------------
  blnstats-vite:
    container_name: blnstats-vite

    # Docker Hub
    image: vuknf/blnstats-vite:latest

    # # Self-built
    # image: blnstats-vite
    # build:
    #   context: ./vite
    #   # dockerfile: Dockerfile                                                         # Prod
    #   dockerfile: Dockerfile.dev                                                     # Dev

    user: 1000:1000
    read_only: true
    # tmpfs:                                                                           # Dev
    #   - /home/node/.npm:uid=1000,gid=1000                                            # Dev
    # volumes:                                                                         # Dev
    #   - ./vite/app:/app                                                              # Dev
    restart: unless-stopped



  blnstats-backend:
    container_name: blnstats-backend

    # Docker Hub
    image: vuknf/blnstats-backend:latest
    
    # # Self-built
    # image: blnstats-backend
    # build: ./backend
    
    user: 1000:1000
    read_only: true
    tmpfs:
      - /.config/matplotlib:uid=1000,gid=1000
    volumes:
      # Data
      - ./_DATA/_PUBLIC_FILES:/DATA

      # Source code
      # - ./backend:/app                                                               # Dev
    <<: *common-envs
    restart: unless-stopped



  # Database to store LN data
  blnstats-mysql:
    container_name: blnstats-mysql
    image: mysql:9.0.0
    user: 1000:1000
    read_only: true
    tmpfs:
      - /run/mysqld:uid=999,gid=999
      - /tmp
    volumes:
      # Configuration
      - /etc/localtime:/etc/localtime:ro
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

      # MySQL data
      - ./_DATA/mysql/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: lnstats
      MYSQL_USER: lnstats
      MYSQL_PASSWORD: lnstats
    restart: unless-stopped
  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------







  # ------------------------------------------------------------
  #              BLN Stats system prefect subsystem
  # ------------------------------------------------------------
  blnstats-prefect-server:
    container_name: blnstats-prefect-server

    # Docker Hub
    image: vuknf/blnstats-prefect-server:latest

    # # Self-built
    # image: blnstats-prefect-server
    # build: ./prefect

    read_only: false
    tmpfs:
      - /prefect-data:uid=1000,gid=1000
    restart: unless-stopped



  blnstats-prefect-worker:
    container_name: blnstats-prefect-worker

    # Docker Hub
    image: vuknf/blnstats-backend:latest

    # # Self-built
    # image: blnstats-backend
    # build: ./backend

    user: 1000:1000
    read_only: false
    command: ["python3", "-u", "workflows.py"]
    tmpfs:
      - /.prefect:uid=1000,gid=1000
      - /.config/matplotlib:uid=1000,gid=1000
    volumes:
      # - ./backend:/app                                                               # Dev
      - ./_DATA/_PUBLIC_FILES:/DATA
    <<: *common-envs
    restart: unless-stopped
  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------










  # ------------------------------------------------------------
  #              Additional administration services 
  # ------------------------------------------------------------
  blnstats-dbgate:
    container_name: blnstats-dbgate
    image: dbgate/dbgate:7.2.3-alpine
    user: root
    read_only: true
    environment:
      WEB_ROOT: /dbgate

      CONNECTIONS: con1
      LABEL_con1: BLN Statistics - MYSQL
      SERVER_con1: blnstats-mysql
      USER_con1: root
      PASSWORD_con1: root
      PORT_con1: 3306
      ENGINE_con1: mysql@dbgate-plugin-mysql
    restart: unless-stopped



  # Filebrowser for administrators
  blnstats-filebrowser:
    container_name: blnstats-filebrowser
    image: vuknf/filebrowser-noauth:latest
    user: 1000:1000
    read_only: false
    volumes:
      - ./_DATA/_PUBLIC_FILES:/data
    restart: unless-stopped
  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------





