# Backend and Prefect Worker uses same codebase, so 
# they need to share the same environment variables
x-common-envs: &common-envs
  environment:
    ### Prefect Worker Specific ###
    - PREFECT_API_URL=http://blnstats-prefect-server:4200/api
    - TZ=${TZ}
    ###############################

    ##### Backend And Prefect #####
    - TMPDIR=/.config/matplotlib
    - MPLCONFIGDIR=/.config/matplotlib

    - BLNSTATS_ELECTRUM_HOST=electrum.blockstream.info
    - BLNSTATS_ELECTRUM_PORT=50001
    ###############################



services:

  # Unified HTTP endpoint for all services
  blnstats-endpoint:
    container_name: blnstats-endpoint
    image: caddy:2-alpine
    user: 1000:1000
    read_only: true
    volumes:
      - ./endpoint/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./DATA:/srv:ro
    ports:
      - "80:80"
    restart: unless-stopped



  # Frontend (From Docker Hub)
  blnstats-nextjs:
    container_name: blnstats-nextjs
    image: vuknf/blnstats-nextjs:latest
    read_only: true
    environment:
      - API_INTERNAL=http://blnstats-backend:8000
    restart: unless-stopped



  # Backend (From Docker Hub)
  blnstats-backend:
    container_name: blnstats-backend
    image: vuknf/blnstats-backend:latest
    read_only: false
    tmpfs:
      - /.config/matplotlib:uid=1000,gid=1000
    volumes:
      # - /etc/localtime:/etc/localtime:ro                          # OPTIONAL: Use local time
      - ./DATA:/DATA
    <<: *common-envs
    restart: unless-stopped



  # Database to store LN data
  blnstats-mysql:
    container_name: blnstats-mysql
    image: mysql:9.0.0
    read_only: true
    tmpfs:
      - /run/mysqld:uid=999,gid=999
      - /tmp
    volumes:
      # - /etc/localtime:/etc/localtime:ro      # OPTIONAL: Use local time
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - ./mysql/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: lnstats
      MYSQL_USER: lnstats
      MYSQL_PASSWORD: lnstats
    restart: unless-stopped



  ############## PREFECT #############
  blnstats-prefect-server:
    container_name: blnstats-prefect-server
    image: blnstats-prefect-server
    build:
      context: ./prefect
    read_only: false
    tmpfs:
      - /prefect-data:uid=1000,gid=1000
    restart: unless-stopped



  blnstats-prefect-worker:
    container_name: blnstats-prefect-worker
    image: blnstats-prefect-worker
    build: ./backend
    read_only: false
    command: ["python3", "-u", "workflows.py"]
    tmpfs:
      - /.prefect:uid=1000,gid=1000
      - /.config/matplotlib:uid=1000,gid=1000
    volumes:
      - ./backend:/app
      - ./DATA:/DATA
    <<: *common-envs
    restart: unless-stopped
    ####################################



  # Database browser
  blnstats-dbgate:
    container_name: blnstats-dbgate
    image: dbgate/dbgate:7.1.12-alpine
    read_only: false
    environment:
      WEB_ROOT: /dbgate

      CONNECTIONS: con1
      LABEL_con1: BLN Statistics - MYSQL
      SERVER_con1: blnstats-mysql
      USER_con1: root
      PASSWORD_con1: root
      PORT_con1: 3306
      ENGINE_con1: mysql@dbgate-plugin-mysql
    restart: unless-stopped



  # File browser for administrators
  blnstats-filebrowser:
    container_name: blnstats-filebrowser
    image: vuknf/filebrowser-noauth:latest
    read_only: false
    volumes:
      - ./DATA:/data
    environment:
      - PUID=1000
      - PGID=1000
    restart: unless-stopped


